*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cantainer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    text-align: center;
    >span{
        font-size: 94px;
        background: transparent;
        user-select: none;
        color: #fff;
        box-shadow: 0px 0px 23px 10px #fff;
        cursor: pointer;
    }
    .image2{
        width: 87%;
        img{
            width: 66%;
        }
    }
}