*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    >h1{
        color: #fff;
        font-size: 150px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
}